{% extends 'parent.html' %}
{% load static %}

{% block titre %}
<title>Flooz</title>
{% endblock %}

{% block contenu %}

<style>
    .btn{
        width: 400px;
        height: 100px;
        font-size: 30px;
        margin-right: 4em;
    }
</style>

<div class="container mt-3 text-center">
    <img src="{% static 'front_end/images/flooz.png' %}" alt="Flooz" class="img-fluid mx-auto d-block">

    <div class="d-flex mt-3">
        <form action="{% url 'front_end:envoie_flooz' %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-primary mr-2">ENVOI</button>
        </form>

        <form action="{% url 'front_end:retrait_flooz' %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger">RETRAIT</button>
        </form>
    </div>
</div>
{% endblock %}
